* {
	outline: 5px solid-red;
}
html body {
	height: 100%;
	margin: 0;
}
.header {
	height: 10%;
}
.body {
	background-color: white;
}
.midbar {
	height: 40%;
}
box1 {
	width: 20%
}
box2 {
	width: 80%
}
.footer {
	height: 10%;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.black {
	background-color: black;
}
.container {
	height: 40%;
}